{% extends "errors/base_error.html" %}
{% block title %}Confronta | Solicitação inválida{% endblock %}
{% block code %}400{% endblock %}
{% block heading %}Solicitação inválida{% endblock %}
{% block message %}Não foi possível processar esta solicitação. Verifique os dados ou endereço informado e tente novamente.{% endblock %}
{% block tips %}
<li>Confira se o endereço acessado está correto.</li>
<li>Atualize a página e tente novamente.</li>
<li>Se estava preenchendo um formulário, revise os dados enviados.</li>
{% endblock %}
